server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: ecommerce
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  app:
    secret: ${AUTH_SECRET_TOKEN}
    token:
      expiration: ${TOKEN_EXPIRATION}
    refresh:
      expiration: ${REFRESH_TOKEN_EXPIRATION}
  flyway:
    enabled: true

